.mapimage {
    position:absolute;
    top:0px;
    left:0px;
    z-index: 0;
}

div.legend {
    position: fixed;
    background-color: #fff;
    border: 1px solid #000;
    text-align: left;
    width: 200px;
    margin: auto;
    padding: 5px;
    float: right;
    z-index: 1000;
    opacity: .8;
    right: 10px;
    top: 10px;
}

img.legend {
     width: 32px;
     height: 32px;
}

div.marker {
    position: fixed;
    left: 0px;
    top: 0px;
}

img.marker {
    opacity: .6;
    z-index: 1000;
    position: fixed;
    width: 32px;
    height: 32px;
}

div.addmarkermenu
{
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    width: 480px;
    height: 90px;
}

div.delmarkermenu
{
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    width: 280px;
    height: 80px;
}

div.navplane
{
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1000;
    background-color: #5af;
    opacity: .6;
}

table.navplane
{
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
}

td.navplane, th.navplane {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    spacing-top: 2px;
    spacing-bottom: 2px;
    spacing-right: 2px;
    spacing-left: 2px;
    border: 1px solid black;
}

img.navplaneicon {
    width: 30px;
    height: 30px;
}

html {
    overflow: hidden;
}

table.gridstatus {
    font-family: arial, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
}

td.gridstatus, th.gridstatus {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr.gridstatus:nth-child(even) {
    background-color: #dddddd;
}

img.statusicon {
    width: 24px;
    height: 24 px;
}
}